$accent-color: #FFBB01;

body {
	font-size: 16px;
	color: white;
	background: #20202D;
	font-family: 'Roboto', sans-serif;
}

a {
	color: white;
}

.container {
	max-width: 1011px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 33px;
}

.title {
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;

}

.btn {
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
	color: #2E2E30;
	text-transform: uppercase;


	background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
	box-shadow: 0px 4px 0px #B68500;
	border-radius: 5px 5px 10px 10px;
	transition: box-shadow 0.2s ease-in;
}

.btn:hover {
	background-color: linear-gradient(180deg, #FDDE76 25%, #FFBB01 100%);
	box-shadow: 0px 8px 0px #B68500;
}

@media (max-width: 502px) {
	.title {
		font-size: 26px;
		margin-bottom: 0;
	}

	body {
		font-size: 14px;
	}

}

@media (max-width: 380px) {
	.title {
		font-size: 19px;
		margin-bottom: 0;
	}
}

.header {
	padding-top: 50px;
	padding-bottom: 166px;
	background: linear-gradient(0.01deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%);


	&__head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 104px;
	}

	&__logo-link {
		display: flex;
		align-items: center;
	}

	&__logo-link svg:first-child {
		margin-right: 4px;
	}

	&__social {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__social a:not(:last-child) {
		margin-right: 21px;
	}

	&__content {
		display: flex;
		justify-content: space-between;
	}

	&__wrapper-text {
		max-width: 421px;
		margin-top: 34px;
		margin-right: 20px;
	}

	&__subtitle {
		font-size: 24px;
		line-height: 28px;
		color: $accent-color;

		margin-bottom: 14px;
	}

	&__title {
		font-weight: 700;
		font-size: 50px;
		line-height: 59px;

		margin-bottom: 20px;
	}

	&__text {
		line-height: 28px;

		margin-bottom: 38px;
	}



	&__btn {
		padding: 25px 57px;
	}

	&__img {
		height: 100%;
		width: auto;
		max-width: 367px;

	}

	&__avatar {
		position: relative;
		z-index: 2;
		margin-right: 11px;
	}



	&__avatar::after {
		content: "";
		position: absolute;
		width: 389px;
		height: 389px;
		border-radius: 50%;
		left: -11px;
		top: -11px;
		z-index: -1;
		background: #FFFFFF;
	}

	&__img-small {
		display: none;
	}

}

@media (max-width: 900px) {
	.header {
		&__content {
			align-items: center;
			flex-direction: column-reverse;
		}

		&__wrapper-text {
			text-align: center;
			margin-right: 0;
			margin-top: 0;
		}

		&__avatar {
			margin-right: 0;
			margin-bottom: 25px;
		}
	}

}

@media (max-width: 502px) {
	.header {
		&__head {
			margin-bottom: 38px;
		}

		&__social a:not(:last-child) {
			margin-right: 10px;
		}

		&__avatar {
			margin-bottom: 17px;
		}

		&__btn {
			padding: 18px 54px;
			font-size: 10px;
		}

		&__img-small {
			display: inline;
			height: 100%;
			width: auto;
		}

		&__img {
			display: none;
		}

		&__avatar::after {
			width: 113px;
			height: 113px;
			left: -3px;
			top: -3px;
		}

		&__title {
			font-size: 24px;
			line-height: 28px;
			margin-bottom: 15px;
		}

		&__subtitle {
			font-size: 16px;
			line-height: 27px;
			margin-bottom: 4px;
		}

		&__text {
			margin-right: 15px;
			margin-left: 15px;
		}

	}
}


.features {
	background: #000;
	height: 100%;
	padding-bottom: 32px;

	&__title {

		margin-bottom: 84px;
	}

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
	}

	&__svg {
		margin-bottom: 22px;
	}

	&__subtitle {
		font-weight: 700;
		font-size: 24px;
		line-height: 28px;

		margin-bottom: 16px;
	}

	&__text {
		line-height: 28px;
	}



	&__offer {
		max-width: 288px;
		margin-bottom: 63px;
		margin-right: 32px;
	}

	&__deadline {
		max-width: 288px;
		margin-bottom: 63px;
		margin-right: 32px;
	}

	&__agreement {
		max-width: 269px;
		margin-bottom: 63px;
	}

	&__steps {
		max-width: 288px;
		margin-bottom: 63px;
		margin-right: 32px;
	}

	&__storage {
		max-width: 288px;
		margin-bottom: 63px;
		margin-right: 32px;
	}

	&__conversation {
		max-width: 269px;
		margin-bottom: 63px;
	}
}

@media (max-width: 975px) {
	.features {
		&__title {
			text-align: center;

		}

		&__wrapper {
			justify-content: center;
			align-items: center;
		}

		&__deadline {
			margin-right: 0px;
		}

		&__agreement {
			margin-right: 48px;
		}

		&__steps {
			margin-right: 0px;
		}

		&__storage {
			margin-right: 18px;
		}

		&__conversation {
			margin-bottom: 63px;
		}
	}
}

@media (max-width: 700px) {
	.features {

		&__wrapper {
			flex-direction: column;
		}

		&__offer {
			margin-right: 0px;
		}

		&__deadline {
			margin-right: 0px;
		}

		&__agreement {
			margin-right: 0px;
			margin-left: -20px;
		}

		&__storage {
			margin-right: 0px;
		}

		&__steps {
			margin-right: 0px;
		}

		&__conversation {
			margin-right: 0px;
			margin-bottom: 63px;
			margin-left: -15px;
		}
	}
}

@media (max-width: 502px) {
	.features {
		&__wrapper {
			align-items: start;
		}

		&__title {
			margin-bottom: 60px;
		}


		&__offer {
			margin-bottom: 30px;
		}

		&__deadline {
			margin-bottom: 30px;
		}

		&__agreement {
			margin-bottom: 30px;
			margin-left: 0;
		}

		&__storage {
			margin-bottom: 30px;
		}

		&__steps {
			margin-bottom: 30px;
		}

		&__conversation {
			margin-bottom: 30px;
			margin-left: 0;
		}
	}
}

@media (max-width: 380px) {
	.features {
		&__wrapper {
			align-items: start;
		}

		&__subtitle {
			font-size: 18px;
			line-height: 28px;
			margin-bottom: 6px;
		}
	}
}

.projects {
	padding-top: 123px;
	padding-bottom: 108px;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000000 95.44%);

	&__title {
		margin-bottom: 79px;
	}

	&__wrapper {
		display: flex;
	}

	&__wrapper-img {
		margin-right: 62px;
		margin-top: 10px;
	}

	&__wrapper-img img {
		border-radius: 6px;
	}

	&__subtitle {
		font-weight: 700;
		font-size: 24px;
		line-height: 28px;

		margin-bottom: 41px;
	}

	&__content {
		display: flex;
		flex-wrap: wrap;
	}


	&__items {
		display: flex;
		justify-content: center;
	}

	&__img {
		margin-right: 16px;
		margin-top: 6px;
	}

	&__suptitle {
		font-weight: 700;
		font-size: 18px;
		line-height: 21px;
		margin-bottom: 8px;
	}

	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
	}
}

.time {
	margin-right: 64px;
	max-width: 153px;
}

.cost {
	max-width: 152px;
}

.feedback {
	margin-top: 44px;
	max-width: 527px;
}





@media (max-width: 1011px) {
	.projects {
		padding-top: 50px;

		&__title {
			text-align: center;
		}

		&__wrapper {
			flex-direction: column;
			align-items: center;
		}

		&__wrapper-img {
			margin-bottom: 46px;
			margin-right: 0px;
			margin-top: 0px;
		}

		&__content {
			flex-direction: column-reverse;
		}
	}

	.time {
		margin-right: 0;

	}

	.cost {
		margin-bottom: 33px;
	}

	.feedback {
		margin-top: 0px;
		margin-bottom: 33px;
	}
}


@media (max-width: 502px) {
	.projects {
		&__title {
			margin-bottom: 49px;
		}
	}
}


.contacts {
	padding-top: 57px;
	padding-bottom: 148px;

	&__title {
		margin-bottom: 84px;
	}

	&__wrapper {
		display: flex;
	}

	&__form {
		background: #FFFFFF;
		box-shadow: -5px 5px 0px #FFC41D;
		border-radius: 5px;
		padding: 40px 35px 49px 35px;
		margin-left: 15px;
		margin-right: 100px;
		max-height: 410px;

	}

	&__suptitle {
		color: black;
		text-align: center;
		font-weight: 700;
		font-size: 18px;
		line-height: 28px;
		margin-right: 12px;
		margin-left: 12px;
		margin-bottom: 29px;
	}

	&__wrapper-name,
	&__wrapper-number {
		background: #F8F8F8;
		box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
		border-radius: 5px;
		height: 63px;
		width: 309px;
	}

	&__wrapper-name input,
	&__wrapper-number input {
		background: none;
	}

	&__wrapper-name {
		margin-bottom: 17px;
		display: flex;
		align-items: center;
	}

	&__wrapper-name svg {
		margin-left: 20px;
		margin-right: 14px;
	}

	&__wrapper-name input {
		width: 100%;
		margin-right: 15px;
	}

	&__wrapper-name input::placeholder {
		font-weight: 400;
		font-size: 14px;
		line-height: 28px;
		color: #949494;
	}

	&__wrapper-number {
		margin-bottom: 26px;
		display: flex;
		align-items: center;
	}

	&__wrapper-number svg {
		margin-left: 20px;
		margin-right: 14px;
	}

	&__wrapper-number input {
		width: 100%;
		margin-right: 15px;
	}

	&__wrapper-number input::placeholder {
		font-weight: 400;
		font-size: 14px;
		line-height: 28px;
		color: #949494;
	}

	&__btn {
		padding: auto;
		padding-top: 3px;
		width: 309px;
		height: 66px;
	}

	&__wrapper-info {
		display: flex;
		flex-wrap: wrap;
		margin-top: 40px;
		margin-right: 100px;
		align-content: flex-start
	}

	&__phone {
		margin-right: 116px;

	}

	&__phone,
	&__mail {
		margin-bottom: 53px;
	}

	&__subtitle {
		font-weight: 700;
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 15px;
	}

	&__phone-link,
	&__mail-link,
	&__social-network-link {
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
	}


	&__social-network-link:not(:last-child) {
		margin-right: 35px;
	}

	&__social-network {
		margin-bottom: 42px;
	}

	&__social {
		display: flex;
		margin-right: auto;
		margin-bottom: 72px;
	}

	&__social-link:not(:last-child) {
		margin-right: 21px;
	}

	&__privacy-policy a {
		font-size: 15px;
		line-height: 18px;
		text-decoration-line: underline;
		color: #A5A5A5;
	}
}

@media (max-width: 1011px) {
	.contacts {
		padding-top: 50px;
		padding-bottom: 50px;

		&__title {
			text-align: center;
		}

		&__wrapper {
			flex-direction: column;
			align-items: center;
		}

		&__form {
			margin-right: 0;
			margin-left: 0;
			max-width: 380px;
		}

		&__wrapper-info {
			flex-direction: column;
			margin-left: auto;
			margin-right: auto;
			margin-top: 64px;
			width: 380px;
		}

		&__phone {
			margin-right: 0;
		}

		&__phone,
		&__mail {
			margin-bottom: 35px;
		}

		&__social-network {
			margin-bottom: 39px;
			display: flex;
			flex-direction: column;
		}

		&__social {
			margin-bottom: 26px;
		}

		&__social-network-link:not(:last-child) {
			margin-right: 0;
			margin-bottom: 13px;
		}
	}
}